@font-face {
  font-family: "Cairo Bold";
  src: url("/scss/base/fonts/Cairo/Cairo-Bold.ttf");
}
@font-face {
  font-family: "Roboto Light";
  src: url("/scss/base/fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("/scss/base/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Medium";
  src: url("/scss/base/fonts/Roboto/Roboto-Medium.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.c-header {
  background-image: url("/images/img-bg-header.png");
  background-size: cover;
  height: 100vh;
}

.c-header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.c-header__text {
  color: #bcbcbc;
  font-family: "Roboto Medium", sans-serif;
  font-size: 1.125rem;
  line-height: 1.17;
}

.c-header__text--above {
  padding-bottom: 1.8rem;
  margin-bottom: 0.4rem;
  position: relative;
}
.c-header__text--above:after {
  content: "";
  border-bottom: 2px solid #e74315;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5.25rem;
  margin-left: 11rem;
}

.c-header__headline {
  height: 4rem;
  font-family: "Cairo Bold", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 3.75rem;
  line-height: 1.84;
}
.c-header__headline:last-of-type {
  margin-bottom: 2rem;
}
.c-header__headline span {
  font-size: 3.75rem;
  line-height: 1.84;
  color: #bcbcbc;
  padding-right: 0.8rem;
  margin-right: 0.8rem;
  position: relative;
}
.c-header__headline span:after {
  content: "";
  border-right: 1px solid #ffb86c;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 3.56rem;
  margin-bottom: 1.5rem;
}

.c-header__side {
  font-family: "Roboto Light", sans-serif;
  text-transform: uppercase;
  color: white;
  transform: rotate(-90deg);
  font-size: 0.87rem;
  line-height: 1.17;
  border-bottom: 2px solid #e74315;
  padding-left: 1.9rem;
  padding-bottom: 0.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 5.5rem;
  margin-bottom: 13.5rem;
}

.c-affixes {
  background-image: url("/images/img-bg-affixes.png");
  background-size: cover;
  height: 86rem;
}

.c-affixes__container--first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.c-affixes__container--first :after {
  content: "";
  border-bottom: 1px solid #6f6f6f;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 75rem;
  margin-left: 50%;
  transform: translate(-50%);
}

.c-affixes__headline {
  font-size: 3.125rem;
  line-height: 1.874;
  font-family: "Cairo Bold", sans-serif;
  color: white;
  text-transform: uppercase;
  margin-top: 6rem;
}

.c-affixes__legend-text {
  font-size: 1.125rem;
  line-height: 1.17;
  font-family: "Roboto Regular", sans-serif;
  color: #bcbcbc;
  margin: 1rem 0;
}

.c-affixes__legend-group {
  display: inline-flex;
}

.c-affixes__legend {
  border: 1px solid transparent;
  height: 2.5rem;
  width: 11.06rem;
  color: white;
  font-size: 1.125rem;
  line-height: 1.17;
  font-family: "Roboto Regular", sans-serif;
  text-align: center;
  padding: 0.5rem 0;
}

.c-affixes__legend--green {
  background-color: #50fa7b;
}

.c-affixes__legend--orange {
  background-color: #ffb86c;
}

.c-affixes__legend--red {
  background-color: #e74315;
}

.c-affixes__heading--secondary {
  font-size: 1.875rem;
  line-height: 1.874rem;
  font-family: "Cairo Bold", sans-serif;
  color: #bcbcbc;
  text-transform: uppercase;
  margin-top: 4rem;
  position: relative;
  padding-bottom: 2rem;
}
.c-affixes__heading--secondary:after {
  content: "";
  border-bottom: 2px solid #e74315;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5.25rem;
  margin-left: 50%;
  transform: translate(-50%);
}

.c-affixes__text {
  font-size: 1.125rem;
  line-height: 1.17;
  font-family: "Roboto Light", sans-serif;
  color: white;
  padding-top: 1.5rem;
  max-width: 58rem;
  text-align: center;
}
.c-affixes__text:last-of-type {
  padding-bottom: 2.5rem;
}

.c-affixes__container--second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.c-affixes__container--second .c-affixes__headline {
  margin-top: 1rem;
}
.c-affixes__container--second:after {
  content: "";
  border-bottom: 1px solid #6f6f6f;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 75rem;
  margin-bottom: -5.9rem;
  margin-left: 50%;
  transform: translate(-50%);
}

.c-affixes__note {
  font-size: 1.125rem;
  line-height: 1.17;
  font-family: "Roboto Medium", sans-serif;
  color: #bcbcbc;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.c-affixes__cards-group {
  display: inline-flex;
}

.c-affixes__card {
  width: 30.5rem;
  height: 16.6rem;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #e74315;
  box-shadow: 0 0.25rem 0.56rem rgba(255, 0, 0, 0.1);
  position: relative;
}
.c-affixes__card .c-affixes__top {
  background-color: #e74315;
  height: 1.75rem;
  width: 9.3rem;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10.4rem;
  border-radius: 0 0 0.625rem 0.625rem;
  text-transform: uppercase;
  padding: 0.2rem;
  font-family: "Roboto Medium", sans-serif;
  color: white;
}
.c-affixes__card .c-affixes__card-heading {
  font-size: 1.875rem;
  line-height: 1.874;
  font-family: "Cairo Bold", sans-serif;
  color: #e74315;
}
.c-affixes__card .c-affixes__card-text {
  font-size: 1.125rem;
  line-height: 1.17;
  font-family: "Roboto Regular", sans-serif;
  color: white;
  margin: 1rem;
  position: relative;
}
.c-affixes__card .c-affixes__card-text:after {
  content: "";
  border-bottom: 2px solid #e74315;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5.25rem;
  margin-left: 50%;
  margin-bottom: -1rem;
  transform: translate(-50%);
}
.c-affixes__card .c-affixes__card-note {
  font-size: 0.875rem;
  line-height: 1.17;
  font-family: "Roboto Regular", sans-serif;
  color: #bcbcbc;
  font-style: italic;
  margin-top: 1rem;
}

.c-affixes__card {
  margin: 1.5rem 2rem;
}
.c-affixes__card:first-of-type {
  margin-right: 2.3rem;
}
.c-affixes__card:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0.25rem 4.93rem rgba(0, 0, 0, 0.4);
  border-color: transparent;
}
.c-affixes__card:hover .c-affixes__top {
  display: none;
}

.c-flag-wrap {
  display: inline-flex;
  margin: 1rem 0;
}

.c-flag {
  border: 1px solid transparent;
  height: 0.6875rem;
  width: 0.6875rem;
}

.c-flag--red {
  background-color: #e74315;
}

.c-flag--orange {
  background-color: #ffb86c;
}

.c-flag--green {
  background-color: #50fa7b;
}

.c-affixes-three {
  background: linear-gradient(180deg, #2d2c2f 0%, #2e2d30 0.01%, #131313 100%), #0c0c0c;
  height: 102rem;
}

.c-affixes-three__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-affixes-three__container .c-affixes__headline {
  margin-top: 2rem;
}

.c-affixes__cards-group-one {
  margin-top: -2rem;
}
.c-affixes__cards-group-one .c-affixes__card {
  background: none;
  border: none;
  box-shadow: none;
}
.c-affixes__cards-group-one .c-affixes__card:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0.25rem 4.93rem rgba(0, 0, 0, 0.4);
  border-color: transparent;
}
.c-affixes__cards-group-one .c-affixes__card-heading {
  color: #ffb86c;
}
.c-affixes__cards-group-one .c-affixes__card-text:after {
  border-bottom: 2px solid #ffb86c;
}

.c-affixes__cards-group-two .c-affixes__card {
  height: 19.7rem;
}
.c-affixes__cards-group-two .c-affixes__card:first-of-type {
  background: none;
  border: none;
  box-shadow: none;
}
.c-affixes__cards-group-two .c-affixes__card:first-of-type .c-affixes__card-heading {
  color: #50fa7b;
}
.c-affixes__cards-group-two .c-affixes__card:first-of-type .c-affixes__card-text:after {
  border-bottom: 2px solid #50fa7b;
}
.c-affixes__cards-group-two .c-affixes__card:last-of-type {
  border: 2px solid #ffb86c;
}
.c-affixes__cards-group-two .c-affixes__card:last-of-type .c-affixes__top {
  background-color: #ffb86c;
}
.c-affixes__cards-group-two .c-affixes__card:last-of-type .c-affixes__card-heading {
  color: #ffb86c;
}
.c-affixes__cards-group-two .c-affixes__card:last-of-type .c-affixes__card-text:after {
  border-bottom: 2px solid #ffb86c;
}

.c-affixes__cards-group-two .c-affixes__card:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0.25rem 4.93rem rgba(0, 0, 0, 0.4);
  border-color: transparent;
}

.c-affixes-three__schedule-title {
  text-align: center;
  font-family: "Roboto Regular", sans-serif;
  font-size: 1.125rem;
  line-height: 1.17;
  color: #bcbcbc;
  text-transform: uppercase;
  margin-top: 2rem;
  position: relative;
}
.c-affixes-three__schedule-title:after {
  content: "";
  border-bottom: 2px solid #50fa7b;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5.25rem;
  margin-left: 50%;
  margin-bottom: -2rem;
  transform: translate(-50%);
}

.c-affixes__schedule {
  width: 56rem;
  margin-top: 3.5rem;
  font-size: 1.125rem;
  line-height: 1.17;
  font-family: "Roboto Regular", sans-serif;
  border-collapse: collapse;
  position: relative;
}
.c-affixes__schedule:after {
  content: "";
  border-bottom: 1px solid #6f6f6f;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 75rem;
  margin-left: 50%;
  margin-bottom: -6.2rem;
  transform: translate(-50%);
}
.c-affixes__schedule thead {
  background-color: #50fa7b;
  color: black;
}
.c-affixes__schedule th,
.c-affixes__schedule td {
  height: 2.5rem;
  width: 14rem;
  text-align: left;
  padding-left: 3rem;
  border: none;
}
.c-affixes__schedule tbody tr {
  color: white;
  background-color: #6f6f6f;
}
.c-affixes__schedule tbody tr:nth-child(odd) {
  background: rgba(156, 156, 156, 0.2);
}
.c-affixes__schedule tbody tr:hover {
  background-color: #848484;
}

.c-gconsiderations {
  background-image: url("/images/img-bg-gconsiderations.png");
  background-size: cover;
  height: 76rem;
}

.c-gconsiderations__container-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.c-gconsiderations__container-one:after {
  content: "";
  border-bottom: 1px solid #6f6f6f;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 75rem;
  margin-left: 50%;
  transform: translate(-50%);
}

.c-gconsiderations__headline {
  font-size: 3.125rem;
  line-height: 1.874;
  font-family: "Cairo Bold", sans-serif;
  color: white;
  text-transform: uppercase;
  margin-top: 1.9rem;
}

.c-gconsiderations__text-one {
  font-size: 1.125rem;
  line-height: 1.17;
  font-family: "Roboto Regular", sans-serif;
  width: 57rem;
  text-align: center;
  color: white;
  margin-top: 1.5rem;
}
.c-gconsiderations__text-one:nth-of-type(2) {
  margin-top: 4rem;
}
.c-gconsiderations__text-one:first-of-type {
  font-family: "Roboto Medium", sans-serif;
  color: #bcbcbc;
  position: relative;
}
.c-gconsiderations__text-one:first-of-type:after {
  content: "";
  border-bottom: 2px solid #50fa7b;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5.25rem;
  margin-left: 50%;
  margin-bottom: -2rem;
  transform: translate(-50%);
}

.c-gconsiderations__list {
  font-size: 1.125rem;
  line-height: 1.17;
  font-family: "Roboto Medium", sans-serif;
  color: #bcbcbc;
  margin-top: 2.4rem;
  margin-bottom: 4rem;
  list-style-image: url("/images/img-list-item.png");
}
.c-gconsiderations__list .c-gconsiderations__list-item {
  padding-left: 0.5rem;
}

.c-gconsiderations__container-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.c-gconsiderations__container-two:after {
  content: "";
  border-bottom: 1px solid #6f6f6f;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 75rem;
  margin-left: 50%;
  transform: translate(-50%);
}
.c-gconsiderations__container-two .c-gconsiderations__heading--secondary {
  font-size: 1.875rem;
  line-height: 1.874rem;
  font-family: "Cairo Bold", sans-serif;
  color: #bcbcbc;
  text-transform: uppercase;
  margin-top: 1.5rem;
  padding-left: 31.2rem;
  position: relative;
  padding-bottom: 2rem;
  align-self: flex-start;
}
.c-gconsiderations__container-two .c-gconsiderations__heading--secondary:after {
  content: "";
  border-bottom: 2px solid #50fa7b;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 34rem;
  width: 5.25rem;
}
.c-gconsiderations__container-two .c-gconsiderations__text-two {
  font-size: 1.125rem;
  line-height: 1.4;
  font-family: "Roboto Regular", sans-serif;
  width: 57rem;
  color: white;
  margin-top: 1.5rem;
  margin-bottom: 4.4rem;
}

.c-link {
  color: #00fff0;
  font-size: 1.125rem;
  line-height: 1.4;
  font-family: "Roboto Regular", sans-serif;
  text-decoration: none;
}
.c-link:hover {
  text-decoration: underline;
}

.c-footer__container-one {
  background-color: #000000;
  height: 19.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-footer__message,
.c-footer__contact {
  font-size: 1.125rem;
  line-height: 1.17;
  color: white;
}

.c-footer__message {
  font-family: "Roboto Medium", sans-serif;
  padding-bottom: 3rem;
}

.c-footer__contact {
  display: inline-flex;
  list-style: none;
  color: white;
  font-family: "Roboto Regular", sans-serif;
}
.c-footer__contact li {
  padding: 2rem 0;
}
.c-footer__contact li:not(:first-of-type) {
  padding-left: 10rem;
}

.c-footer__container-two {
  background-color: #383838;
  height: 3.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-footer__container-two .c-footer__comment {
  color: white;
  font-family: "Roboto Regular", sans-serif;
  margin-left: -15rem;
}

/*# sourceMappingURL=style.css.map */
