@font-face {
  font-family: "Cairo Bold";
  src: url("/scss/base/fonts/Cairo/Cairo-Bold.ttf");
}
@font-face {
  font-family: "Roboto Light";
  src: url("/scss/base/fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("/scss/base/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Medium";
  src: url("/scss/base/fonts/Roboto/Roboto-Medium.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.c-header {
  background-image: url("/images/img-bg-header.png");
  background-size: cover;
  height: 100vh;
}

.c-header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.c-header__text {
  color: #BCBCBC;
  font-family: "Roboto Medium", sans-serif;
  font-size: 1.125rem;
  line-height: 1.17;
}

.c-header__text--above {
  padding-bottom: 1.8rem;
  margin-bottom: 0.4rem;
  position: relative;
}
.c-header__text--above:after {
  content: "";
  border-bottom: 2px solid #E74315;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5.25rem;
  margin-left: 11rem;
}

.c-header__headline {
  height: 4rem;
  font-family: "Cairo Bold", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 3.75rem;
  line-height: 1.84;
}
.c-header__headline:last-of-type {
  margin-bottom: 2rem;
}
.c-header__headline span {
  font-size: 3.75rem;
  line-height: 1.84;
  color: #BCBCBC;
  padding-right: 0.8rem;
  margin-right: 0.8rem;
  position: relative;
}
.c-header__headline span:after {
  content: "";
  border-right: 1px solid #FFB86C;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 3.56rem;
  margin-bottom: 1.5rem;
}

.c-header__side {
  font-family: "Roboto Light", sans-serif;
  text-transform: uppercase;
  color: white;
  transform: rotate(-90deg);
  font-size: 0.87rem;
  line-height: 1.17;
  border-bottom: 2px solid #E74315;
  padding-left: 1.9rem;
  padding-bottom: 0.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 5.5rem;
  margin-bottom: 12.5rem;
}

.c-affixes {
  background-image: url("/images/img-bg-affixes.png");
  background-size: cover;
  height: 86rem;
}

.c-affixes__container--first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.c-affixes__container--first :after {
  content: "";
  border-bottom: 1px solid #6F6F6F;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 75rem;
  margin-left: 50%;
  transform: translate(-50%);
}

.c-affixes__headline {
  font-size: 3.125rem;
  line-height: 1.874;
  font-family: "Cairo Bold", sans-serif;
  color: white;
  text-transform: uppercase;
  margin-top: 6rem;
}

.c-affixes__legend-text {
  font-size: 1.125rem;
  line-height: 1.17;
  font-family: "Roboto Regular", sans-serif;
  color: #BCBCBC;
  margin: 1rem 0;
}

.c-affixes__legend-group {
  display: inline-flex;
}

.c-affixes__legend {
  border: 1px solid transparent;
  height: 2.5rem;
  width: 11.06rem;
  color: white;
  font-size: 1.125rem;
  line-height: 1.17;
  font-family: "Roboto Regular", sans-serif;
  text-align: center;
  padding: 0.5rem 0;
}
.c-affixes__legend:not(:last-child) {
  margin-right: 2rem;
}

.c-affixes__legend--green {
  background-color: #50FA7B;
}

.c-affixes__legend--orange {
  background-color: #FFB86C;
}

.c-affixes__legend--red {
  background-color: #E74315;
}

.c-affixes__heading--secondary {
  font-size: 1.875rem;
  line-height: 1.874rem;
  font-family: "Cairo Bold", sans-serif;
  color: #BCBCBC;
  text-transform: uppercase;
  margin-top: 4rem;
  position: relative;
  padding-bottom: 2rem;
}
.c-affixes__heading--secondary:after {
  content: "";
  border-bottom: 2px solid #E74315;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5.25rem;
  margin-left: 50%;
  transform: translate(-50%);
}

.c-affixes__text {
  font-size: 1.125rem;
  line-height: 1.17;
  font-family: "Roboto Light", sans-serif;
  color: white;
  padding-top: 1.5rem;
  max-width: 58rem;
  text-align: center;
}
.c-affixes__text:last-of-type {
  padding-bottom: 2.5rem;
}

.c-affixes__container--second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.c-affixes__container--second .c-affixes__headline {
  margin-top: 1rem;
}
.c-affixes__container--second:after {
  content: "";
  border-bottom: 1px solid #6F6F6F;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 75rem;
  margin-bottom: -6rem;
  margin-left: 50%;
  transform: translate(-50%);
}

.c-affixes__note {
  font-size: 1.125rem;
  line-height: 1.17;
  font-family: "Roboto Medium", sans-serif;
  color: #BCBCBC;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.c-affixes__cards-group {
  display: inline-flex;
}

.c-affixes__card {
  width: 30.5rem;
  height: 16.6rem;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #E74315;
  box-shadow: 0 0.25rem 0.56rem rgba(255, 0, 0, 0.1);
  position: relative;
}
.c-affixes__card .c-affixes__top {
  background-color: #E74315;
  height: 1.75rem;
  width: 9.3rem;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10.4rem;
  border-radius: 0 0 0.625rem 0.625rem;
  text-transform: uppercase;
  padding: 0.2rem;
  font-family: "Roboto Medium", sans-serif;
  color: white;
}
.c-affixes__card .c-affixes__card-heading {
  font-size: 1.875rem;
  line-height: 1.874;
  font-family: "Cairo Bold", sans-serif;
  color: #E74315;
}
.c-affixes__card .c-affixes__card-text {
  font-size: 1.125rem;
  line-height: 1.17;
  font-family: "Roboto Regular", sans-serif;
  color: white;
  margin: 1rem;
  position: relative;
}
.c-affixes__card .c-affixes__card-text:after {
  content: "";
  border-bottom: 2px solid #E74315;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5.25rem;
  margin-left: 50%;
  margin-bottom: -1rem;
  transform: translate(-50%);
}
.c-affixes__card .c-affixes__card-note {
  font-size: 0.875rem;
  line-height: 1.17;
  font-family: "Roboto Regular", sans-serif;
  color: #BCBCBC;
  font-style: italic;
  margin-top: 1rem;
}

.c-affixes__card:first-of-type {
  margin-right: 2.3rem;
}
.c-affixes__card:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0.25rem 4.93rem rgba(0, 0, 0, 0.4);
  border-color: transparent;
}
.c-affixes__card:hover .c-affixes__top {
  display: none;
}

.c-flag-wrap {
  display: inline-flex;
  margin: 1rem 0;
}

.c-flag {
  border: 1px solid transparent;
  height: 0.6875rem;
  width: 0.6875rem;
}

.c-flag--red {
  background-color: #E74315;
}

.c-flag--orange {
  background-color: #FFB86C;
}

.c-flag--green {
  background-color: #50FA7B;
}

/*# sourceMappingURL=style.css.map */
