.c-affixes {
  background-image: url('/images/img-bg-affixes.png');
  background-size: cover;
  height: 86rem;
}

// FIRST CONTAINER

.c-affixes__container--first {
  @include flex-column-center;
  position: relative;
  
  :after {
    content: "";
    border-bottom: 1px solid $color-grey-secondary;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75rem;
    margin-left: 50%;
    transform: translate(-50%);
  }
}

.c-affixes__headline {
  font-size: 3.125rem;
  line-height: 1.874;
  font-family: $font-primary;
  color: $color-white-primary;
  text-transform: uppercase;
  margin-top: 6rem;
}

.c-affixes__legend-text{
  font-size: 1.125rem;
  line-height: 1.17;
  font-family: $font-secondary-regular;
  color: $color-grey-primary;
  margin: 1rem 0;
}

.c-affixes__legend-group {
  display: inline-flex;
}

.c-affixes__legend {
  border: 1px solid transparent;
  height: 2.5rem;
  width: 11.06rem;
  color: $color-white-primary;
  font-size: 1.125rem;
  line-height: 1.17;
  font-family: $font-secondary-regular;
  text-align: center;
  padding: 0.5rem 0;
}

.c-affixes__legend--green {
  background-color: $color-green-primary;
}

.c-affixes__legend--orange {
  background-color: $color-orange-primary;
}

.c-affixes__legend--red {
  background-color: $color-red-primary;
}

.c-affixes__heading--secondary {
  font-size: 1.875rem;
  line-height: 1.874rem;
  font-family: $font-primary;
  color: $color-grey-primary;
  text-transform: uppercase;
  margin-top: 4rem;
  position: relative;
  padding-bottom: 2rem;

  &:after {
    content: "";
    border-bottom: 2px solid $color-red-primary;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5.25rem;
    margin-left: 50%;
    transform: translate(-50%);
  }
}

.c-affixes__text {
  font-size: 1.125rem;
  line-height: 1.17;
  font-family: $font-secondary-light;
  color: $color-white-primary;
  padding-top: 1.5rem;
  max-width: 58rem;
  text-align: center;
  
  &:last-of-type {
    padding-bottom: 2.5rem;
  }
}

// SECOND CONTAINER

.c-affixes__container--second {
  @include flex-column-center;
  position: relative;

  .c-affixes__headline {
    margin-top: 1rem;
  }

  &:after {
    content: "";
    border-bottom: 1px solid $color-grey-secondary;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75rem;
    margin-bottom: -5.9rem;
    margin-left: 50%;
    transform: translate(-50%);
  }
}

.c-affixes__note {
  font-size: 1.125rem;
  line-height: 1.17;
  font-family: $font-secondary-medium;
  color: $color-grey-primary;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 1rem;;
  margin-bottom: 2rem;
}

.c-affixes__cards-group {
  display: inline-flex;
}

.c-affixes__card {
  width: 30.5rem;
  height: 16.6rem;
  padding: 2rem;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid $color-red-primary;
  box-shadow: 0 0.25rem 0.56rem rgba(255, 0, 0, 0.1);
  position: relative;

  .c-affixes__top {
    background-color: $color-red-primary;
    height: 1.75rem;
    width: 9.3rem;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10.4rem;
    border-radius: 0 0 0.625rem 0.625rem;
    text-transform: uppercase;
    padding: 0.2rem;
    font-family: $font-secondary-medium;
    color: $color-white-primary;
  }

  .c-affixes__card-heading {
    font-size: 1.875rem;
    line-height: 1.874;
    font-family: $font-primary;
    color: $color-red-primary;
  }

  .c-affixes__card-text {
    font-size: 1.125rem;
    line-height: 1.17;
    font-family: $font-secondary-regular;
    color: $color-white-primary;
    margin: 1rem;
    position: relative;

    &:after {
      content: "";
      border-bottom: 2px solid $color-red-primary;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 5.25rem;
      margin-left: 50%;
      margin-bottom: -1rem;
      transform: translate(-50%);
    }
  }

  .c-affixes__card-note {
    font-size: 0.875rem;
    line-height: 1.17;
    font-family: $font-secondary-regular;
    color: $color-grey-primary;
    font-style: italic;
    margin-top: 1rem;
  }
}

.c-affixes__card {
  margin: 1.5rem 2rem;
  &:first-of-type {
    margin-right: 2.3rem;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0.25rem 4.93rem rgba(0, 0, 0, 0.4);
    border-color: transparent;

    .c-affixes__top {
      display: none;
    }
  }
}