.c-affixes-three {
  background: linear-gradient(180deg, #2d2c2f 0%, #2e2d30 0.01%, #131313 100%),
    #0c0c0c;
  height: 99.7rem;

  @include between($tablet, $desktop) {
    height: 133.7rem;
  }

  @include between($desktop, $desktop-large) {
    height: 94.9rem;
  }

  @include between($desktop-large, $ultra-wide-screen) {
    height: 95.8rem;
  }

  @include from($ultra-wide-screen) {
    height: 99rem;
  }
}

.c-affixes-three__container {
  @include flex-column-center;

  .c-affixes__headline {
    margin-top: 2rem;
  }
}

.c-affixes__cards-group-one {
  margin-top: -2rem;

  .c-affixes__card {
    background: none;
    border: none;
    box-shadow: none;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 0.25rem 4.93rem rgba(0, 0, 0, 0.4);
      border-color: transparent;
    }
  }

  .c-affixes__card-heading {
    color: $color-orange-primary;
  }

  .c-affixes__card-text {
    &:after {
      border-bottom: 2px solid $color-orange-primary;
    }
  }
}

.c-affixes__cards-group-two {
  .c-affixes__card {
    height: 16.7rem;

    @include from($tablet) {
      height: 19.7rem;
    }

    &:first-of-type {
      background: none;
      border: none;
      box-shadow: none;

      .c-affixes__card-heading {
        color: $color-green-primary;
      }

      .c-affixes__card-text {
        &:after {
          border-bottom: 2px solid $color-green-primary;
        }
      }
    }

    &:last-of-type {
      border: 2px solid $color-orange-primary;

      .c-affixes__top {
        background-color: $color-orange-primary;
      }

      .c-affixes__card-heading {
        color: $color-orange-primary;
      }

      .c-affixes__card-text {
        &:after {
          border-bottom: 2px solid $color-orange-primary;
        }
      }
    }
  }
}

.c-affixes__cards-group-two {
  .c-affixes__card {
    &:hover {
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 0.25rem 4.93rem rgba(0, 0, 0, 0.4);
      border-color: transparent;
    }
  }
}

.c-affixes-three__schedule-title {
  text-align: center;
  font-family: $font-secondary-regular;
  font-size: 0.8rem;
  line-height: 1;
  color: $color-grey-primary;
  text-transform: uppercase;
  margin-top: 1.5rem;
  position: relative;

  @include from($tablet) {
    font-size: 1.125rem;
    line-height: 1.17;
    margin-top: 2rem;
  }

  &:after {
    content: "";
    border-bottom: 2px solid $color-green-primary;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5.25rem;
    margin-left: 50%;
    margin-bottom: -2rem;
    transform: translate(-50%);
  }
}

.c-affixes__schedule {
  width: 15rem;
  margin-top: 3rem;
  font-size: 0.9rem;
  line-height: 1;
  font-family: $font-secondary-light;
  border-collapse: collapse;
  position: relative;

  @include between($tablet, $desktop) {
    width: 45rem;
    margin-top: 3rem;
    font-size: 1rem;
    line-height: 1;
    font-family: $font-secondary-regular;
  }

  @include from($desktop) {
    width: 56rem;
    margin-top: 3.5rem;
    font-size: 1.125rem;
    line-height: 1.17;
    font-family: $font-secondary-regular;
  }

  &:after {
    content: "";
    border-bottom: 1px solid $color-grey-secondary;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15rem;
    margin-left: 50%;
    margin-bottom: -3.2rem;
    transform: translate(-50%);

    @include between($tablet, $desktop) {
      width: 40rem;
    }

    @include between($desktop, $desktop-large) {
      width: 50rem;
    }

    @include between($desktop-large, $ultra-wide-screen) {
      width: 60rem;
    }

    @include from($ultra-wide-screen) {
      width: 75rem;
    }
  }

  thead {
    background-color: $color-green-primary;
    color: black;
  }

  th,
  td {
    height: 1rem;
    width: 3rem;
    text-align: left;
    padding-left: 0.1rem;
    border: none;
    font-size: 0.7rem;
    line-height: 1;

    @include from($tablet) {
      height: 2.5rem;
      width: 14rem;
      text-align: left;
      padding-left: 3rem;
      font-size: unset;
      line-height: unset;
    }
  }

  tbody {
    tr {
      color: $color-white-primary;
      background-color: $color-grey-secondary;

      &:nth-child(odd) {
        background: rgba(156, 156, 156, 0.2);
      }

      &:hover {
        background-color: $color-grey-other;
      }
    }
  }
}
