.c-affixes-three {
  background: linear-gradient(180deg, #2d2c2f 0%, #2e2d30 0.01%, #131313 100%),
    #0c0c0c;
  height: 102rem;
}

.c-affixes-three__container {
  @include flex-column-center;

  .c-affixes__headline {
    margin-top: 2rem;
  }
}

.c-affixes__cards-group-one {
  margin-top: -2rem;

  .c-affixes__card {
    background: none;
    border: none;
    box-shadow: none;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 0.25rem 4.93rem rgba(0, 0, 0, 0.4);
      border-color: transparent;
    }
  }

  .c-affixes__card-heading {
    color: $color-orange-primary;
  }

  .c-affixes__card-text {
    &:after {
      border-bottom: 2px solid $color-orange-primary;
    }
  }
}

.c-affixes__cards-group-two {
  .c-affixes__card {
    height: 19.7rem;

    &:first-of-type {
      background: none;
      border: none;
      box-shadow: none;

      .c-affixes__card-heading {
        color: $color-green-primary;
      }

      .c-affixes__card-text {
        &:after {
          border-bottom: 2px solid $color-green-primary;
        }
      }
    }

    &:last-of-type {
      border: 2px solid $color-orange-primary;

      .c-affixes__top {
        background-color: $color-orange-primary;
      }

      .c-affixes__card-heading {
        color: $color-orange-primary;
      }

      .c-affixes__card-text {
        &:after {
          border-bottom: 2px solid $color-orange-primary;
        }
      }
    }
  }
}

.c-affixes__cards-group-two {
  .c-affixes__card {
    &:hover {
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 0.25rem 4.93rem rgba(0, 0, 0, 0.4);
      border-color: transparent;
    }
  }
}

.c-affixes-three__schedule-title {
  text-align: center;
  font-family: $font-secondary-regular;
  font-size: 1.125rem;
  line-height: 1.17;
  color: $color-grey-primary;
  text-transform: uppercase;
  margin-top: 2rem;
  position: relative;

  &:after {
    content: "";
    border-bottom: 2px solid $color-green-primary;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5.25rem;
    margin-left: 50%;
    margin-bottom: -2rem;
    transform: translate(-50%);
  }
}

.c-affixes__schedule {
  width: 56rem;
  margin-top: 3.5rem;
  font-size: 1.125rem;
  line-height: 1.17;
  font-family: $font-secondary-regular;
  border-collapse: collapse;
  position: relative;

  &:after {
    content: "";
    border-bottom: 1px solid $color-grey-secondary;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75rem;
    margin-left: 50%;
    margin-bottom: -6.2rem;
    transform: translate(-50%);
  }

  thead {
    background-color: $color-green-primary;
    color: black;
  }

  th,
  td {
    height: 2.5rem;
    width: 14rem;
    text-align: left;
    padding-left: 3rem;
    border: none;
  }

  tbody {
    tr {
      color: $color-white-primary;
      background-color: $color-grey-secondary;

      &:nth-child(odd) {
        background: rgba(156, 156, 156, 0.2);
      }

      &:hover {
        background-color: $color-grey-other;
      }
    }
  }
}
