//Hamburger button, appears on small screen devices

.c-header__nav-toggle-container {
  overflow: hidden;
}

.c-header__nav-toggle {
  display: inline-block;

  @include from($tablet) {
    display: none;
  }
}

.c-header__nav-toggle-wrap {
  position: relative;
  top: 2px;
  width: 44px;
  height: 27px;
  transition: 0.25s;
  z-index: 2;
}

.c-header__nav-toggle:hover {
  cursor: pointer;
}

.c-header__nav-toggle .c-header__nav-bar {
  position: absolute;
  border-radius: 2px;
  width: 80%;
  transition: 0.5s;
}

.c-header__nav-toggle .c-header__nav-bar--top {
  border: 4px solid $color-white-primary;
  border-bottom: none;
  top: 0;
}

.c-header__nav-toggle .c-header__nav-bar--middle {
  height: 4px;
  background-color: $color-white-primary;
  margin-top: 7px;
  margin-bottom: 7px;
  top: 4px;
}

.c-header__nav-toggle .c-header__nav-bar--bottom {
  border: 4px solid $color-white-primary;
  border-top: none;
  top: 22px;
}

.c-button-open .c-header__nav-bar--top {
  transform: rotate(45deg) translate(8px, 8px);
  transition: 0.5s;
}

.c-button-open .c-header__nav-bar--middle {
  transform: translate(230px);
  transition: 0.1s ease-in;
  opacity: 0;
}

.c-button-open .c-header__nav-bar--bottom {
  transform: rotate(-45deg) translate(8px, -7px);
  transition: 0.5s;
}
