.c-gconsiderations {
  background-image: url("/images/img-bg-gconsiderations.png");
  background-size: cover;
  height: 76rem;
}

// FIRST CONTAINER

.c-gconsiderations__container1 {
  @include flex-column-center;
  position: relative;

  :after {
    content: "";
    border-bottom: 1px solid $color-grey-secondary;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75rem;
    margin-left: 50%;
    transform: translate(-50%);
  }
}

.c-gconsiderations__headline {
  font-size: 3.125rem;
  line-height: 1.874;
  font-family: $font-primary;
  color: $color-white-primary;
  text-transform: uppercase;
  margin-top: 1.9rem;
}

.c-gconsiderations__text1 {
  font-size: 1.125rem;
  line-height: 1.17;
  font-family: $font-secondary-regular;
  width: 57rem;
  text-align: center;
  color: $color-white-primary;
  margin-top: 1.5rem;

  &:nth-of-type(2) {
    margin-top: 4rem;
  }

  &:first-of-type {
    font-family: $font-secondary-medium;
    color: $color-grey-primary;
    position: relative;

    &:after {
      content: "";
      border-bottom: 2px solid $color-green-primary;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 5.25rem;
      margin-left: 50%;
      margin-bottom: -2rem;
      transform: translate(-50%);
    }
  }
}

.c-gconsiderations__list {
  font-size: 1.125rem;
  line-height: 1.17;
  font-family: $font-secondary-medium;
  color: $color-grey-primary;
  margin-top: 2.4rem;
  margin-bottom: 4rem;
  list-style-image: url("/images/img-list-item.png");

  .c-gconsiderations__list-item {
    padding-left: 0.5rem;
  }
}

// SECOND CONTAINER

.c-gconsiderations__container2 {
  @include flex-column-center;
  position: relative;

  :after {
    content: "";
    border-bottom: 1px solid $color-grey-secondary;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75rem;
    margin-left: 50%;
    transform: translate(-50%);
  }

  .c-gconsiderations__heading--secondary {
    font-size: 1.875rem;
    line-height: 1.874rem;
    font-family: $font-primary;
    color: $color-grey-primary;
    text-transform: uppercase;
    margin-top: 1.5rem;
    padding-left: 31.2rem;
    position: relative;
    padding-bottom: 2rem;
    align-self: flex-start;

    &:after {
      content: "";
      border-bottom: 2px solid $color-green-primary;
      position: absolute;
      bottom: 0;
      left: 0;
      margin-left: 34rem;
      width: 5.25rem;
    }
  }
  .c-gconsiderations__text2 {
    font-size: 1.125rem;
    line-height: 1.4;
    font-family: $font-secondary-regular;
    width: 57rem;
    color: $color-white-primary;
    margin-top: 1.5rem;
    margin-bottom: 4.4rem;
  }
}

.c-link {
  color: $color-turquoise-primary;
  font-size: 1.125rem;
  line-height: 1.4;
  font-family: $font-secondary-regular;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
