.c-header {
  background-image: url("/images/img-bg-header.png");
  background-size: cover;
  height: 100vh;
}

.c-header__container {
  @include flex-column-center;
  height: 100%;
}

.c-header__text {
  color: $color-grey-primary;
  font-family: $font-secondary-medium;
  font-size: 1.125rem;
  line-height: 1.17;
}

.c-header__text--above {
  padding-bottom: 1.8rem;
  margin-bottom: 0.4rem;
  position: relative;

  &:after {
    content: "";
    border-bottom: 2px solid $color-red-primary;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5.25rem;
    margin-left: 11rem;
  }
}

.c-header__headline {
  height: 4rem;
  font-family: $font-primary;
  color: $color-white-primary;
  text-transform: uppercase;
  font-size: 3.75rem;
  line-height: 1.84;

  &:last-of-type {
    margin-bottom: 2rem;
  }

  span{
    font-size: 3.75rem;
    line-height: 1.84;
    color: $color-grey-primary;
    padding-right: 0.8rem;
    margin-right: 0.8rem;
    position: relative;

    &:after {
      content: "";
      border-right: 1px solid $color-orange-primary;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 3.56rem;
      margin-bottom: 1.5rem;
    }
  }
}

.c-header__side {
  font-family: $font-secondary-light;
  text-transform: uppercase;
  color: $color-white-primary;
  transform: rotate(-90deg);
  font-size: 0.87rem;
  line-height: 1.17;
  border-bottom: 2px solid $color-red-primary;
  padding-left: 1.9rem;
  padding-bottom: 0.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 5.5rem;
  margin-bottom: 12.5rem;
}