// Cairo Bold
@font-face {
  font-family: 'Cairo Bold';
  src: url('/scss/base/fonts/Cairo/Cairo-Bold.ttf');
}

// Roboto Light
@font-face {
  font-family: 'Roboto Light';
  src: url('/scss/base/fonts/Roboto/Roboto-Light.ttf');
}

// Roboto Regular
@font-face {
  font-family: 'Roboto Regular';
  src: url('/scss/base/fonts/Roboto/Roboto-Regular.ttf');
}

// Roboto Medium
@font-face {
  font-family: 'Roboto Medium';
  src: url('/scss/base/fonts/Roboto/Roboto-Medium.ttf');
}
