@mixin main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
