$font-primary: "Cairo Bold", sans-serif;
$font-secondary-light: "Roboto Light", sans-serif;
$font-secondary-regular: "Roboto Regular", sans-serif;
$font-secondary-medium: "Roboto Medium", sans-serif;

$color-white-primary: white;
$color-grey-primary: #bcbcbc;
$color-grey-secondary: #6f6f6f;
$color-orange-primary: #ffb86c;
$color-grey-other: #848484;
$color-red-primary: #e74315;
$color-green-primary: #50fa7b;
$color-black-primary: #383838;
$color-black-secondary: #000000;
$color-turquoise-primary: #00fff0;

// BREAKPOINTS
$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1200px;
$wide-screen: 1260px;
$ultra-wide-screen: 1600px;
