$font-primary: 'Cairo Bold', sans-serif;
$font-secondary-light: 'Roboto Light', sans-serif;
$font-secondary-regular: 'Roboto Regular', sans-serif;
$font-secondary-medium: 'Roboto Medium', sans-serif;

$color-white-primary: white;
$color-grey-primary: #BCBCBC;
$color-orange-primary: #FFB86C;
$color-red-primary: #E74315;
$color-green-primary: #50FA7B;
