$font_heading: 'Cairo Bold', sans-serif;
$font_text_light: 'Roboto Light', sans-serif;
$font_text_regular: 'Roboto Regular', sans-serif;
$font_text_medium: 'Roboto Medium', sans-serif;

$color_main-headings: white;
$color_headings: #BCBCBC;
$color_text: white;
$color_border1: #FFB86C;
$color_border2: #E74315;
$color_flag-item1: #E74315;
$color_flag-item2: #FFB86C;
$color_flag-item3: #50FA7B;
